<a href="https://colab.research.google.com/github/sruthi1996/DeepLearning/blob/master/booleancrossentropy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, f1_score, recall_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import  train_test_split
from keras.models import Model, load_model
from keras.layers import Input, Dense
from keras.callbacks import ModelCheckpoint, TensorBoard
from keras import regularizers
import tensorflow as tf

In [0]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (1.12.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.17.3)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.7.2)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.3)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (46.1.3)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (3.1.1)

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
downloaded = drive.CreateFile({'id':"1JaEwl_1T1siFmXwFpsIuJF4_nOYwf4Im"})   # replace the id with id of file you want to access
downloaded.GetContentFile('haberman.csv')

In [0]:
df = pd.read_csv('haberman.csv')

In [0]:
df.head()

   30  64   1  1.1
0  30  62   3    1
1  30  65   0    1
2  31  59   2    1
3  31  65   4    1
4  33  58  10    1

In [0]:
df.columns.unique()

Index(['30', '64', '1', '1.1'], dtype='object')

In [0]:
df["1.1"]

0      1
1      1
2      1
3      1
4      1
      ..
300    1
301    1
302    1
303    2
304    2
Name: 1.1, Length: 305, dtype: int64

In [0]:
df.shape

(305, 4)

In [0]:
df_new = df.rename(columns={'1.1': 'label'})
print(df_new)

     30  64   1  label
0    30  62   3      1
1    30  65   0      1
2    31  59   2      1
3    31  65   4      1
4    33  58  10      1
..   ..  ..  ..    ...
300  75  62   1      1
301  76  67   0      1
302  77  65   3      1
303  78  65   1      2
304  83  58   2      2

[305 rows x 4 columns]

In [0]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   30      305 non-null    int64
 1   64      305 non-null    int64
 2   1       305 non-null    int64
 3   label   305 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

In [0]:
df_new['label'] = df_new['label'].apply(np.int64)
print(df_new)

     30  64   1  label
0    30  62   3      1
1    30  65   0      1
2    31  59   2      1
3    31  65   4      1
4    33  58  10      1
..   ..  ..  ..    ...
300  75  62   1      1
301  76  67   0      1
302  77  65   3      1
303  78  65   1      2
304  83  58   2      2

[305 rows x 4 columns]

In [0]:
for col in ['30','64','1','label']:
    df_new[col] = df_new[col].astype('category')
    df_new[col] = df_new[col].cat.codes
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   30      305 non-null    int8
 1   64      305 non-null    int8
 2   1       305 non-null    int8
 3   label   305 non-null    int8
dtypes: int8(4)
memory usage: 1.3 KB

In [0]:
df_new

     30  64   1  label
0     0   4   3      0
1     0   7   0      0
2     1   1   2      0
3     1   7   4      0
4     2   0  10      0
..   ..  ..  ..    ...
300  44   4   1      0
301  45   9   0      0
302  46   7   3      0
303  47   7   1      1
304  48   0   2      1

[305 rows x 4 columns]

Seperating the Y-label from the dataset i.e. attribute "label"

In [0]:
output_layer = df_new['label']
input_layer = df_new.drop(columns=['label'])

In [0]:
from keras.models import Sequential
from keras.layers import Dense,Dropout, Flatten
from keras.optimizers import Adam,sgd
from sklearn.metrics import mean_absolute_error
from keras import layers, metrics
import keras

In [0]:
!pip3 install 'gast==0.2.2'
try:
  %tensorflow_version 2.x
except Exception:
  pass

Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (0.2.2)

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier
#from sklearn.model_selection import cross_val_score
#from sklearn.model_selection import StratifiedKFold

In [0]:
from sklearn.model_selection import  train_test_split
x_train,x_test,y_train,y_test = train_test_split(input_layer,output_layer,test_size=0.3,random_state=0)
x_train.shape

(213, 3)

In [0]:
def binaryAlgorithm(X_train,X_test,y_train,y_test):
    logi = Sequential()
    logi.add(Dense(300, activation="relu",input_shape=(3,)))
    logi.add(Dropout(0.2))
    logi.add(Dense(10, activation="relu"))
    logi.add(Dropout(0.1))
    logi.add(Dense(3, activation="relu"))
    logi.add(Dense(1,activation='sigmoid'))
    logi.compile(loss='binary_crossentropy', optimizer=sgd(), metrics=['accuracy'])
    logi.fit(x_train, y_train, epochs=10)
    a = logi.evaluate(x_test, y_test)
    return a

In [0]:
binaryAlgorithm(x_train,x_test,y_train,y_test)

Epoch 1/10
213/213 [==============================] - 0s 1ms/step - loss: 0.6137 - accuracy: 0.7606
Epoch 2/10
213/213 [==============================] - 0s 98us/step - loss: 0.5988 - accuracy: 0.7606
Epoch 3/10
213/213 [==============================] - 0s 76us/step - loss: 0.5960 - accuracy: 0.7606
Epoch 4/10
213/213 [==============================] - 0s 69us/step - loss: 0.5810 - accuracy: 0.7606
Epoch 5/10
213/213 [==============================] - 0s 76us/step - loss: 0.5883 - accuracy: 0.7606
Epoch 6/10
213/213 [==============================] - 0s 63us/step - loss: 0.5826 - accuracy: 0.7606
Epoch 7/10
213/213 [==============================] - 0s 68us/step - loss: 0.5906 - accuracy: 0.7606
Epoch 8/10
213/213 [==============================] - 0s 70us/step - loss: 0.5673 - accuracy: 0.7606
Epoch 9/10
213/213 [==============================] - 0s 62us/step - loss: 0.5732 - accuracy: 0.7606
Epoch 10/10
213/213 [==============================] - 0s 68us/step - loss: 0.5565 - accuracy: 0.7606
92/92 [==============================] - 0s 310us/step

[0.6470331342323966, 0.6739130616188049]